<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Academics.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Student</servlet-name>
        <servlet-class>Academics.Student</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Teacher</servlet-name>
        <servlet-class>Academics.Teacher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeacherUpdate</servlet-name>
        <servlet-class>Academics.TeacherUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>connection.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentUpdate</servlet-name>
        <servlet-class>Academics.StudentUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExamQuestion</servlet-name>
        <servlet-class>Academics.ExamQuestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeStudentPassword</servlet-name>
        <servlet-class>Student.ChangeStudentPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PasswordMessage</servlet-name>
        <servlet-class>Student.PasswordMessage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentAccountUpdate</servlet-name>
        <servlet-class>Student.StudentAccountUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeTeacherPassword</servlet-name>
        <servlet-class>Teacher.ChangeTeacherPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PasswordMessage1</servlet-name>
        <servlet-class>Teacher.PasswordMessage1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeacherAccountUpdate</servlet-name>
        <servlet-class>Teacher.TeacherAccountUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExamSchedule</servlet-name>
        <servlet-class>Academics.ExamSchedule</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentAttendence</servlet-name>
        <servlet-class>Teacher.StudentAttendence</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateID</servlet-name>
        <servlet-class>Academics.ValidateID</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Fetch</servlet-name>
        <servlet-class>Academics.Fetch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>quizeSchedule</servlet-name>
        <servlet-class>Academics.QuizeSchedule</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckExamSchedule</servlet-name>
        <servlet-class>Academics.CheckExamSchedule</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeacherMail</servlet-name>
        <servlet-class>Academics.TeacherMail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImportOnlineResult</servlet-name>
        <servlet-class>Academics.ImportOnlineResult</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>onlineTest</servlet-name>
        <servlet-class>Student.onlineTest</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Student</servlet-name>
        <url-pattern>/student</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Teacher</servlet-name>
        <url-pattern>/teacher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherUpdate</servlet-name>
        <url-pattern>/teacherUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentUpdate</servlet-name>
        <url-pattern>/studentUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExamQuestion</servlet-name>
        <url-pattern>/examQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeStudentPassword</servlet-name>
        <url-pattern>/changeStudentPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PasswordMessage</servlet-name>
        <url-pattern>/passwordMessage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentAccountUpdate</servlet-name>
        <url-pattern>/studentAccountUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeTeacherPassword</servlet-name>
        <url-pattern>/changeTeacherPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PasswordMessage1</servlet-name>
        <url-pattern>/passwordMessage1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherAccountUpdate</servlet-name>
        <url-pattern>/teacherAccountUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExamSchedule</servlet-name>
        <url-pattern>/examSchedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentAttendence</servlet-name>
        <url-pattern>/studentAttendence</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateID</servlet-name>
        <url-pattern>/validateID</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Fetch</servlet-name>
        <url-pattern>/fetch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>quizeSchedule</servlet-name>
        <url-pattern>/QuizeSchedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckExamSchedule</servlet-name>
        <url-pattern>/checkExamSchedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherMail</servlet-name>
        <url-pattern>/teacherMail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImportOnlineResult</servlet-name>
        <url-pattern>/importOnlineResult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>onlineTest</servlet-name>
        <url-pattern>/onlineTest</url-pattern>
    </servlet-mapping>
     <servlet>
        <servlet-name>OTP</servlet-name>
        <servlet-class>Academics.otp</servlet-class>
    </servlet>
     <servlet-mapping>
        <servlet-name>OTP</servlet-name>
        <url-pattern>/otp</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
